body {
    padding-top: 100px;
}

a {
    cursor: pointer;
}

.text-white {
    color: white;
}

.panel > .list-group {
    margin: 1px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.modal-content.table {
    margin-bottom: 0;
}

.thumbnail.tall {
    color: #9d9d9d;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;
}

.thumbnail.tall:hover {
    color: #337ab7;
}
