<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <panel>
            <panel-head>
                <span class="h4">Games</span>
                <a class="pull-right text-white" ng-click="openGameSetupModal()"><glyph name="plus" /></a>
                <span class="clearfix" />
            </panel-head>
            <panel-list>
                <a ng-repeat="game in games | orderBy: '-start'" class="list-group-item" href="#/game/{{game.id}}">
                    <span class="badge" style="margin-left: 10px;" ng-bind="game.subgames.length"></span>
                    <game object="game"></game>
                </a>
                <li ng-show="!games" ng-bind="'No games'" class="list-group-item" />
            </panel-list>
        </panel>
    </div>
</div>