<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Game setup</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="courseSelect">Select course</label>
                        <select class="form-control" id="courseSelect" ng-model="setup.course" ng-options="(course.name + ' - ' + course.city) for course in courses | orderBy: 'name'">
                            <option value="">Select a course</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="playerSelect">Select players</label>
                        <ul style="padding-left: 0;">
                            <li ng-repeat="user in setup.players | orderBy: 'name'" class="list-group-item">
                                <user object="user">
                                    <right>
                                        <a class="btn btn-default" ng-click="removePlayer(user)"><glyph name="remove" /></a>
                                    </right>
                                </user>
                            </li>
                            <li ng-show="setup.players.length === 0" ng-bind="'No players added'" class="list-group-item" />
                        </ul>
                        <select class="form-control" id="playerSelect" ng-model="selectedPlayer" ng-options="user.name for user in users | orderBy: 'name' track by user.id" ng-change="addPlayer(selectedPlayer)">
                            <option value="">Add a player</option>
                        </select>
                        <b>... or ...</b>
                        <a class="btn btn-default form-control" ng-click="addGuest()">Create a guest player</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="proceed()">Start game</button>
            </div>
        </div>
    </div>
</div>