<div class="row hidden-xs">
    <div class="col-sm-4">
        <a class="thumbnail tall text-center" ng-click="openGameSetupModal()">
            <span class="h3"><glyph name="plus"></glyph> NEW GAME</span>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="thumbnail tall text-center">
            <span class="h3"><glyph name="plus"></glyph> NEW PLAYER</span>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="thumbnail tall text-center">
            <span class="h3"><glyph name="plus"></glyph> NEW COURSE</span>
        </a>
    </div>
</div>
<div class="row visible-xs-block">
    <div class="col-xs-4">
        <a class="btn btn-primary btn-block" ng-click="openGameSetupModal()"><glyph name="plus"></glyph> <glyph name="tower"></glyph></a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary btn-block"><glyph name="plus"></glyph> <glyph name="user"></glyph></a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary btn-block"><glyph name="plus"></glyph> <glyph name="flag"></glyph></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <panel heading="'Users'">
            <panel-list>
                <a ng-repeat="user in users" class="list-group-item">
                    <user object="user"></user>
                </a>
                <li ng-show="!users" ng-bind="'No users'" class="list-group-item" />
            </panel-list>
        </panel>
    </div>

    <div class="col-md-4">
        <panel heading="'Courses'">
            <panel-list>
                <a ng-repeat="course in courses" class="list-group-item" href="#/course/{{course.id}}">
                    <course object="course"></course>
                </a>
                <li ng-show="!courses" ng-bind="'No courses'" class="list-group-item" />
            </panel-list>
        </panel>
    </div>

    <div class="col-md-4">
        <panel>
            <panel-head>
                <span class="h4"><a href="#/games" style="color: white;">Latest games</a></span>
                <a class="pull-right text-white" ng-click="openGameSetupModal()"><glyph name="plus" /></a>
                <span class="clearfix" />
            </panel-head>
            <panel-list>
                <a ng-repeat="game in games | orderBy: '-start' | limitTo: 10" class="list-group-item" href="#/game/{{game.id}}">
                    <span class="badge" style="margin-left: 10px;" ng-bind="game.subgames.length"></span>
                    <game object="game"></game>
                </a>
                <li ng-show="!games" ng-bind="'No games'" class="list-group-item" />
            </panel-list>
        </panel>
    </div>
</div>