<h1>bitdisc</h1>
<div class="row">
    <div class="col-md-4">
        <panel heading="'Users'">
            <panel-list>
                <a ng-repeat="user in users" class="list-group-item">
                    <user object="user" />
                </a>
                <li ng-show="!users" ng-bind="'No users'" class="list-group-item" />
            </panel-list>
        </panel>
    </div>

    <div class="col-md-4">
        <panel heading="'Courses'">
            <panel-list>
                <a ng-repeat="course in courses" class="list-group-item" href="#/course/{{course.id}}">
                    <course object="course" />
                </a>
                <li ng-show="!users" ng-bind="'No courses'" class="list-group-item" />
            </panel-list>
        </panel>
    </div>

    <div class="col-md-4">
        <panel>
            <panel-head>
                <span class="h4">Games</span>
                <a class="pull-right text-white" ng-click="openGameSetupModal()"><glyph name="plus" /></a>
                <span class="clearfix" />
            </panel-head>
            <panel-list>
                <a ng-repeat="game in games | orderBy: '-start'" class="list-group-item" href="#/game/{{game.id}}">
                    <game object="game" />
                </a>
                <li ng-show="!games" ng-bind="'No games'" class="list-group-item" />
            </panel-list>
        </panel>
    </div>
</div>