<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>bitdisc</title>
        <script type="application/javascript" src="public/js/bundle.js"></script>
        <link rel="stylesheet" href="public/css/bundle.css" />
    </head>
    <body ng-app="app" ng-controller="NavCtrl">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">bitdisc</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: isActive('/')}"><a href="#/">Home</a></li>
                        <li ng-class="{active: isActive('/games')}"><a href="#/games">Games</a></li>
                        <li ng-class="{active: isActive('/courses')}"><a href="#/courses">Courses</a></li>
                        <li ng-class="{active: isActive('/users')}"><a href="#/users">Users</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-divider"></li>
                        <li ng-show="auth"><a ng-click="signOut()">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-show="auth">
            <scoreinput id="score-input-modal"></scoreinput>
            <gamesetup id="game-setup-modal"></gamesetup>
            <guestsetup id="guest-setup-modal"></guestsetup>
            <gameoptions id="game-options-modal"></gameoptions>
        </div>

        <div ng-show="auth" class="container" ng-view></div>

        <div ng-hide="auth" class="container">
            <h1>
                Welcome to bitdisc<br />
                <span class="small">Please sign in to continue</span>
            </h1>
            <p>
                <a class="btn btn-social btn-google" ng-click="signIn()">
                    <span class="fa fa-google"></span>
                    Sign in with Google
                </a>
            </p>
        </div>
    </body>
</html>
